* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

.container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
}

.recipe-header {
    text-align: center;
    margin-top: 4rem;
    padding: 2rem;
}

.recipe-sub-header {
    text-align: center;
    margin-bottom: 3rem;
}

.recipe-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    text-decoration: none;
    border: solid 1px rgb(75, 75, 75);
    border-radius: 1rem;
    padding: 10px;
    transition: .3s ease-in-out;
    display: inline-block;
}

.links:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

img {
    height: auto;
    max-width: 500px;
}



